{% extends 'base.html' %}

	{% load staticfiles %}
{% block content %}
	<style>
	body, html {
	    height: 100%;
	    margin: 0;
	}

	.bg {
	    /* The image used */
	    background-image: url("{% static 'images/nicolai-berntsen-29454.jpg' %}");

	    /* Full height */
	    height: 100%; 

	    /* Center and scale the image nicely */
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	</style>

	<div class="bg"><h1>hello bg</h1></div>
{% endblock %}
